h1{
    text-align: center;
    text-transform: capitalize ;
    font-family:"Times New Roman" ;
}

p{
    /* font-family: times new roman; */
    
}

#outer{
   font-size: 25px; 
}

#inner{
    font-size: 10px;
}