/* //box model in css */

div{
    height:100px ;
    width: 100px;
    background-color:coral;
    border-width:2px ;
    border-style: dashed;
    border-color: black;
    text-align: end;
}

h1{
    height: 100px;
    width: 200px;
    background-color: aqua;
    border-width:3px ;
    border-style: dotted;
    border-color: brown;
    text-align: center;
}

p{
    font-family: cursive;
}