*{
    margin:0;
    padding:0;
}


.container{
    display:flex;
    background-color: blue;
    border:3px solid grey;
    height:400px;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: end;
    align-content: end;
    gap: 10px;
}

.item{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    background-color: aqua;
    


}